@keyframes handTopBottomLeft{
	from{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(0, -10%);
	}
	to{
		transform: translate(0, 0);
	}
}
@keyframes handTopBottomRight{
	from{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(0, -10%);
	}
	to{
		transform: translate(0, 0);
	}
}
@keyframes handRotateRight{
	from{
		transform: rotate(-115deg);
	}
	50%{
		transform: rotate(-125deg);
	}
	to{
		transform: rotate(-115deg);
	}
}
@keyframes handRotateLeft{
	from{
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(35deg);
	}
	to{
		transform: rotate(45deg);
	}
}
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes fadeUp{
	from{
		opacity: 0;
		transform: translate(0, 5%);
	}
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes fadeUpBig{
	from{
		opacity: 0;
		transform: translate(0, 10%);
	}
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes rightSpin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(180deg);
	}
}
 @keyframes leftSpin {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
}
 @keyframes overflowSpan {
	97% {
	  clip: rect(auto, auto, auto, auto);
	}
	to {
	  clip: rect(auto, auto, auto, auto);
	}
}
 @keyframes overflowBefore {
	96% {
	  opacity: 1;
	}
	to{
		opacity: 1;
	}
} 
@keyframes circle{
	47%{
		clip-path: inset(0 0 0 0);
	}
	to{
		clip-path: inset(0 0 0 0);
	}
}
@keyframes circleBefore{
	to{
		transform: rotate(270deg);
	}
}
@keyframes circleAfter{
	to{
		transform: rotate(450deg);
	}
}
 @keyframes animOne {
	 from{
		top: 75px;
		left: 176px;
		transform: rotate(0deg);
	 }
	to{
		top: 344px;
    	left: 356px;
    	transform: rotate(-95deg);
	}
 }
 @keyframes animTwo {
	 from{
		top: 59px;
		left: 200.2px;
		transform: rotate(0deg);
	 }
	to{
		top: 436px;
		left: 246.2px;
		transform: rotate(-72deg);
	}
 }
 @keyframes animThree {
	 from{
		left: 184.268px;
		top: 70.8px;
		transform: rotate(0deg);
	 }
	to{
		left: 394.268px;
		top: 401.8px;
		transform: rotate(91deg);
	}
 }
 @keyframes animFour {
	 from{
		left: 279.26px;
		top: 170px;
		transform: rotate(0deg);
		opacity: 1;
	 }
	to{
		left: 437.26px;
    	top: 239px;
    	transform: rotate(75deg);
		opacity: 0;
	}
 }
 @keyframes animFive {
	 from{
		opacity: 0;
		transform: rotateY(0deg) translate(-50%, 0);
	 }
	to{
		opacity: 1;
		transform: rotateY(0deg) translate(0, 0);
	}
 }
 @keyframes animShadow {
	 from{
		top: 72px;
		left: 220px;
		transform: rotate(0deg);
	 }
	to{
		top: 461px;
		left: 250px;
		transform: rotate(-72deg);
	}
 }
 @keyframes animOneAdaptive {
	to{
		top: 112px;
		left: 176px;
    	transform: rotate(-95deg);
	}
 }
 @keyframes animTwoAdaptive {
	to{
		top: 176px;
    	left: 117.2px;
		transform: rotate(-72deg);
	}
 }
 @keyframes animThreeAdaptive {
	to{
		left: 198px;
		top: 167px;  
		transform: rotate(91deg);
	}
 }
 @keyframes animFourAdaptive {
	to{
		left: 213.26px;
    	top: 99px;
    	transform: rotate(75deg);
		 opacity: 0;
	}
 }
 @keyframes animFiveAdaptive {
	to{
		opacity: 1;
		transform: rotateY(0deg) translate(0, 0);
	}
 }
 @keyframes animShadowAdaptive {
	to{
		top: 201px;
		left: 121px;
		transform: rotate(-72deg);
	}
 }
 @keyframes casesPhoto {
	to{
		left: -50px;
		transform: rotate(-8.53deg);
	}
 }
 @keyframes circleCases1 {
	 50%{
		 left: 50px;
		 opacity: 1;
	 }
	to{
		left: 0;
		opacity: 1;
	}
 }
 @keyframes circleCases2 {
	 40%{
		transform: translate(150%, 0);
		opacity: 1;
	 }
	 80%{
		transform: translate(-35%, 0);
		opacity: 1;
	 }
	to{
		transform: translate(0, 0);
		opacity: 1;
	}
 }
 @keyframes circleCases3 {
	 50%{
		right: 50px;
		opacity: 1;
	 }
	to{
		right: 0;
		opacity: 1;
	}
 }
 @keyframes toothCases {
	80%{
		transform: rotate(360deg) scale(1.2);
	}
	to{
		transform: rotate(360deg) scale(1);
	}
 }
 @keyframes brushCases {
	to{
		transform: rotate(0);
	}
 }
 @keyframes decorCases {
	to{
		transform: translateX(0);
	}
 }
 @keyframes handCases {
	 33%{
		 opacity: 1;
		 transform: rotate(7deg);
	 }
	 66%{
		 opacity: 1;
		 transform: rotate(-7deg);
	 }
	to{
		opacity: 1;
		transform: rotate(0);
	}
 }
 @keyframes handsProducts {
	 50%{
		 transform: translate(0, 5%);
	 }
	 to{
		 transform: translate(0, 0);
	 }
 }
 @keyframes leaf {
	 to{
		 transform: scale(1);
	 }
 }
 @keyframes leaf1 {
	 to{
		 transform: scale(1) rotate(-20deg);
	 }
 }