@keyframes handTopBottomLeft{
	from{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(0, -10%);
	}
	to{
		transform: translate(0, 0);
	}
}
@keyframes handTopBottomRight{
	from{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(0, -10%);
	}
	to{
		transform: translate(0, 0);
	}
}
@keyframes handRotateRight{
	from{
		transform: rotate(-115deg);
	}
	50%{
		transform: rotate(-125deg);
	}
	to{
		transform: rotate(-115deg);
	}
}
@keyframes handRotateLeft{
	from{
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(35deg);
	}
	to{
		transform: rotate(45deg);
	}
}
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes fadeUp{
	from{
		opacity: 0;
		transform: translate(0, 5%);
	}
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes fadeUpBig{
	from{
		opacity: 0;
		transform: translate(0, 10%);
	}
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes circle{
	47%{
		clip-path: inset(0 0 0 0);
	}
	to{
		clip-path: inset(0 0 0 0);
	}
}
@keyframes circleBefore{
	to{
		transform: rotate(135deg);
	}
}
@keyframes circleAfter{
	to{
		transform: rotate(315deg);
	}
}
 @keyframes anim1 {
	to{
		top: 344px;
    	left: 356px;
    	transform: rotate(-95deg);
	}
 }
 @keyframes anim2 {
	to{
		top: 436px;
		left: 246.2px;
		transform: rotate(-72deg);
	}
 }
 @keyframes anim3 {
	to{
		left: 394.268px;
		top: 401.8px;
		transform: rotate(91deg);
	}
 }
 @keyframes anim4 {
	to{
		left: 437.26px;
    	top: 239px;
    	transform: rotate(75deg);
		opacity: 0;
	}
 }
 @keyframes animShadow {
	to{
		top: 461px;
		left: 250px;
		z-index: 1;
		transform: rotate(-72deg);
	}
 }
 @keyframes animAdaprive1 {
	to{
		top: 160px;
    	left: 178px;
    	transform: rotate(-95deg);
	}
 }
 @keyframes animAdaprive2 {
	to{
		top: 176px;
    	left: 117.2px;
		transform: rotate(-72deg);
	}
 }
 @keyframes animAdaprive3 {
	to{
		left: 198px;
		top: 167px;  
		transform: rotate(91deg);
	}
 }
 @keyframes animAdaprive4 {
	to{
		left: 213.26px;
    	top: 99px;
    	transform: rotate(75deg);
	}
 }
 @keyframes animShadoAdaprivew {
	to{
		top: 201px;
		left: 121px;
		z-index: 1;
		transform: rotate(-72deg);
		opacity: 0;
	}
 }
 @keyframes shadow {
	to{
		filter: url(#filter0_d);
	}
 }