@keyframes handTopBottomLeft{
	from{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(0, -10%);
	}
	to{
		transform: translate(0, 0);
	}
}
@keyframes handTopBottomRight{
	from{
		transform: translate(0, 0);
	}
	50%{
		transform: translate(0, -10%);
	}
	to{
		transform: translate(0, 0);
	}
}
@keyframes handRotateRight{
	from{
		transform: rotate(-115deg);
	}
	50%{
		transform: rotate(-125deg);
	}
	to{
		transform: rotate(-115deg);
	}
}
@keyframes handRotateLeft{
	from{
		transform: rotate(45deg);
	}
	50%{
		transform: rotate(35deg);
	}
	to{
		transform: rotate(45deg);
	}
}
@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes fadeUp{
	from{
		opacity: 0;
		transform: translate(0, 5%);
	}
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes fadeUpBig{
	from{
		opacity: 0;
		transform: translate(0, 10%);
	}
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes fadeDownBig{
	from{
		opacity: 0;
		transform: translate(0, -30%);
	}
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}
@keyframes fadeRightBig{
	from{
		opacity: 0;
		transform: translate(50%, 0);
	}
	to{
		opacity: 1;
		transform: translate(0, 0);
	}
}