.social{
	display: flex;
	flex-direction: column;
	&__row{
		& + &{
			margin-top: 10px;
		}
	}
	&__link{
		height: 50px;
		width: 50px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $text;
		transition: background-color .3s;
		path{
			transition: fill .3s;
		}
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $hover;
			}
			&:focus{
				background-color: $hover;
			}
		}
	}
}
.btn__top,
.footer__top-btn{
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: rgba(#fff, .9);
	position: absolute;
	box-shadow: 0 0 2px rgba($text, .2);
	bottom: 65px;
	left: 40px;
	z-index: 15;
	transition: background-color .3s;
	svg{
		transform: rotate(180deg);
	}
	path{
		transition: fill .3s;
	}
	@media (min-width: $md2 + px){
		&:hover{
			background-color: $hover;
			path{
				fill: #fff;
			}
		}
		&:focus{
			background-color: $hover;
			path{
				fill: #fff;
			}
		}
	}
}
.footer__top-btn{
	@media (max-width: $md3 + px){
		display: none;
	}}
.btn__top{
	background-color: $el;
	position: fixed;
	transition: all .5s;
	bottom: 40px;
	&.btn-hidden{
		transform: translate(0, 100px);
		opacity: 0;
	}
}
.title{
	@include adaptive(font-size, 48, 28, 1);
	font-weight: 600;
}
.plug{
	width: 100%;
	height: 200px;
	position: relative;
	&::before{
		position: absolute;
		top: 0;
		right: 0;
	}
	@media (max-width: $md3 + px){
		display: none;
	}
}
.simplebar-scrollbar::before {
	background-color: $el;
 }
 .simplebar-track.simplebar-horizontal .simplebar-scrollbar:before{
	 right: 0;
	 left: 0;
 }
.simplebar-track.simplebar-horizontal {
	height: 3px;
	bottom: 15px;
	left: 25px;
	right: 25px;
	background-color: $text;
	border-radius: 10px;
	opacity: .7;
}
.simplebar-track.simplebar-horizontal .simplebar-scrollbar{
	top: 0;
	height: 3px;
}
.progress-bar {
	display: block;
	width: calc(100% - 52px);
	height: 3px;
	position: absolute;
	bottom: 15px;
	left: 26px;
	right: 26px;
	z-index: 2;
	background: rgba($text, 0.7);
	&__progress {
	  position: absolute;
	  height: 3px;
	  width: auto;
	  clear: both;
	  opacity: 0;
	  top: 0;
	  left: 0;
	  right: 0;
	  &:after {
		 position: absolute;
		 top: 0;
		 left: 0;
		 background: $el;
		 height: 100%;
		 width: 0;
		 content: "";
	  }
	}
	&.active {
		.progress-bar__progress {
		 opacity: 1;
	  }
	}
	&.animate {
		.progress-bar__progress {
		 &:after {
			transition: width linear;
			transition-delay: unset;
			width: 100%;
			transition-duration: 4.7s;
		 }
	  }
	}
 }
// 