.products{
	@include adaptive(margin-bottom, 110, 47, 1);
	&__body{
		display: flex;
		width: 100%;
		position: relative;
	}
	&__bg-img{
		position: absolute;
		text-align: center;
		padding-top: 30px;
		top: 0;
		@include adaptive(left, 0, 300, 1);
		width: 500px;
		height: 850px;
		transform: translate(-25%, -75%);
		z-index: -2;
		overflow: hidden;
		img{
			width: 80%;
		}
		@media (max-width: $md1 + px){
			transform: translate(0, -75%);
			left: -30px;
		}
		@media (max-width: $md2 + px){
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 290px;
			height: 575px;
		}
		&::before{
			content:'';
			background-image: url(../img/hand_left.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center bottom;
			width: 308px;
			height: 365px;
			position: absolute;
			bottom: -30px;
			left: 40px;
			animation: handTopBottomLeft 3s ease-in-out infinite;
			@media (max-width: $md2 + px){
				bottom: 0;
				left: 0;
				width: 215px;
				height: 255px;
			}
		}
		&::after{
			content: '';
			background-image: url(../img/hand_right.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center bottom;
			width: 308px;
			height: 365px;
			position: absolute;
			bottom: 50px;
			right: -40px;
			animation: handTopBottomRight 3s ease-in-out 1.5s infinite;
			@media (max-width: $md2 + px){
				width: 215px;
				height: 255px;
			}
		}
	}
	&__inner{
		max-width: 993px;
		width: 100%;
		overflow: hidden;
		@media (max-width: $md2 + px){
			max-width: 100%;
		}
	}
	&__item{
		@include adaptive(padding-left, 50, 15, 1);
		@include adaptive(padding-right, 50, 15, 1);
		@include adaptive(padding-top, 67, 43, 1);
		@include adaptive(padding-bottom, 85, 43, 1);
		@include adaptive(border-radius, 20, 15, 1);
		background-color: $text;
		color: #fff;
		margin-bottom: 20px;
		&:nth-child(even){
			background-color: $hover;
			color: $text;
		}
	}
	&__title{
		@include adaptive(font-size, 42, 22, 1);
		font-weight: 500;
		@include adaptive(margin-bottom, 32, 37, 1);
		@media (max-width: $md3 + px){
			text-align: center;
		}
	}
	&__descr{
		@include adaptive(margin-bottom, 30, 20, 1);
		line-height: 140%;
	}
	&__subtitle{
		font-weight: 700;
	}
	&__modal{
		&.open{
			@media (min-width: $md4 + px){
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				z-index: 100;
				width: 100%;
				height: 100%;
				background-color: rgba(6, 7, 50, 0.7);
				backdrop-filter: blur(10px);
				display: flex;
				justify-content: center;
				align-items: center;
				.products__wrapper{
					max-width: 1211px;
					width: 100%;
					position: relative;
					@include adaptive(padding-left, 81, 50, 1);
					@include adaptive(padding-right, 81, 50, 1);
				}
				.products__gallery{
					margin: 0;
				}
				.swiper-pagination{
					display: none;
				}
				.products__close{
					display: block;
				}
				.swiper-button-prev,
				.swiper-button-next{
					display: flex;
					@include adaptive(height, 50, 30, 1);
					@include adaptive(width, 50, 30, 1);
					top: 50%;
					transform: translate(0, -50%);
					border-radius: 50%;
					background-color: $el;
					color: $text;
					font-weight: 600;
					transition: all .3s;
					text-align: center;
					&::after{
						font-size: 14px;
					}
					&.swiper-button-disabled{
						opacity: 1;
						pointer-events: visible;
						cursor: pointer;
					}
				}
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next{
		display: none;
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $hover;
				color: #fff;
			}
			&:focus-visible{
				background-color: $hover;
				color: #fff;
			}
		}
	}
	&__close{
		display: none;
		position: absolute;
		top: 0;
		right: 10px;
		@include adaptive(height, 50, 30, 1);
		@include adaptive(width, 50, 30, 1);
		border-radius: 50%;
		background-color: $hover;
		z-index: 1;
		transition: background-color .3s;
		@media (min-width: $md2 + px){
			&:hover{
				background-color: #fff;
				&::before,
				&::after{
					background-color: $text;
				}
			}
			&:focus-visible{
				background-color: #fff;
				&::before,
				&::after{
					background-color: $text;
				}
			}
		}
		&::before,
		&::after{
			content: '';
			position: absolute;
			height: 1px;
			width: 15px;
			right: 0;
			left: 0;
			top: 50%;
			margin: 0 auto;
			background-color: #fff;
			transition: background-color .3s;
		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}
	&__gallery{
		@include adaptive(margin-top, 70, 40, 1);
		width: 100%;
		padding-bottom: 18px;
		@media (max-width: $md2 + px){
			margin-bottom: 50px;
		}
	}
	&__image{
		display: block;
		max-width: 100%;
		position: relative;
		padding-bottom: 59.195%;
		border-radius: 10px;
		overflow: hidden;
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	.swiper-pagination{
		background-color: rgba(#52638C, .7);
		height: 3px;
		cursor: pointer;
		bottom: 0;
		top: auto;
	}
	.swiper-pagination-progressbar-fill{
		background-color: #fff;
	}
	&__buttons{
		text-align: center;
		display: none;
		@media (max-width: $md2 + px){
			display: block;
		}
	}
	&__buttons-visiography{
		.products__btn{
			@media (min-width: $md2 + px){
				&:hover{
					background-color: $text;
					color: #fff;
				}
				&:focus-visible{
					background-color: $text;
					color: #fff;
				}
			}
			&:nth-child(even){
				background-color: $text;
				color: #fff;
				@media (min-width: $md2 + px){
					&:hover{
						background-color: #fff;
						color: $text;
					}
					&:focus-visible{
						background-color: #fff;
						color: $text;
					}
				}
			}
		}
	}
	&__btn{
		max-width: 350px;
		width: 100%;
		height: 50px;
		border-radius: 30px;
		background-color: #fff;
		font-size: 14px;
		color: $text;
		transition: all .3s;
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $hover;
				color: #fff;
			}
			&:focus-visible{
				background-color: $hover;
				color: #fff;
			}
		}
		& + &{
			margin-top: 14px;
		}
		&:nth-child(even){
			background-color: $hover;
			color: #fff;
			@media (min-width: $md2 + px){
				&:hover{
					background-color: #fff;
					color: $text;
				}
				&:focus-visible{
					background-color: #fff;
					color: $text;
				}
			}
		}
	}
	&__sibebox{
		background-color: $el;
		padding: 40px 30px 50px 30px;
		@include adaptive(border-radius, 20, 15, 1);
		max-width: 414px;
		width: 100%;
		max-height: 268px;
		margin-left: 23px;
		position: sticky;
		@include adaptive(top, 153, 133, 1);
		right: 0;
		@media (max-width: $md2 + px){
			display: none;
		}
	}
}
.sidebox{
	&__text{
		font-size: 22px;
		line-height: 150%;
		font-weight: 500;
		margin-bottom: 30px;
	}
	&__buttons{
		display: flex;
		justify-content: space-between;
		margin-left: -10px;
	}
	&__btn{
		background-color: #fff;
		height: 50px;
		border-radius: 30px;
		padding: 12px;
		min-width: 154px;
		font-size: 14px;
		font-weight: 500;
		margin-left: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .3s;
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $hover;
				color: #fff;
			}
			&:focus-visible{
				background-color: $hover;
				color: #fff;
			}
		}
		&:nth-child(even){
			background-color: $text;
			color: #fff;
		}
	}
}
