.about{
	animation: fadeUpBig 1s ease-in-out;
	@include adaptive(padding-bottom, 160, 77, 1);
	&__title{
		min-width: 50%;
		max-width: 50%;
		margin-left: auto;
		padding-top: 60px;
		margin-bottom: -120px;
		@media (max-width: $md3 + px){
			padding-top: 0;
			margin-bottom: 40px;
			max-width: 100%;
			text-align: center;
		}
	}
	&__body{
		display: flex;
		justify-content: space-between;
		@media (max-width: $md3 + px){
			flex-direction: column;
		}
	}
	&__profile{
		max-width: 392px;
		width: 100%;
		margin-left: auto;
		@include adaptive(margin-right, 118, 15, 1);
		@media (max-width: $md3 + px){
			margin-right: auto;
			margin-bottom: 38px;
		}
	}
	&__img{
		@include adaptive(margin-bottom, 16, 23, 1);
		position: relative;
		&.about-badge{
			&::before{
				content: '';
				position: absolute;
				@include adaptive(bottom, -15, -12, 1);
				@include adaptive(right, -45, -7, 1);
				z-index: 1;
				@include adaptive(width, 203, 166, 1);
				@include adaptive(height, 203, 166, 1);
				background-image: url(../img/badge.png);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
	&__img-wrapper{
		border-radius: 20px;
		overflow: hidden;
		height: 100%;
		width: 100%;
		position: relative;
		background-color: #f8f8f8;
		padding-bottom: 121%;
		@media (max-width: $md4 + px){
			padding-bottom: 117%;
		}
		img{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			@media (max-width: $md4 + px){
				width: 90%;
				right: 0;
				height: 90%;
				margin: 0 auto;
			}
		}
	}
	&__name{
		@include adaptive(font-size, 20, 22, 1);
		margin-bottom: 6px;
		display: block;
		line-height: 120%;
	}
	&__profession{
		font-size: 18px;
		font-weight: 300;
		opacity: .7;
		display: block;
	}
	&__info{
		max-width: 50%;
		min-width: 50%;
		margin-top: 150px;
		@media (max-width: $md3 + px){
			margin-top: 0;
			max-width: 100%;
		}
	}
	&__descr{
		max-width: 476px;
		width: 100%;
		line-height: 140%;
		& + &{
			@include adaptive(margin-top, 30, 20, 1);
		}
		@media (max-width: $md3 + px){
			max-width: 100%;
		}
		span{
			font-weight: 700;
		}
	}
	&__btn{
		@include adaptive(margin-top, 52, 44, 1);
		max-width: 280px;
		width: 100%;
		height: 50px;
		border-radius: 30px;
		background-color: $text;
		color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		transition: all .3s;
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $hover;
			}
			&:focus-visible{
				background-color: $hover;
			}
		}
		@media (max-width: $md3 + px){
			margin-right: auto;
			margin-left: auto;
		}
	}
}