.top{
	@include adaptive(padding-top, 60, 10, 1);
	&__body{
		display: flex;
		justify-content: space-between;
		@media (max-width: $md3 + px){
			flex-direction: column;
		}
	}
	&__image{
		min-width: 715px;
		min-height: 622px;
		background-image: url(../img/top_img.svg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: top center;
		position: relative;
		opacity: 0;
		z-index: 2;
		animation: fadeIn 1s ease-in-out .5s forwards;
		@media (max-width: $md1 + px){
			min-width: 500px;
			min-height: 435px;
			width: 500px;
			height: 435px;
			margin: 0 auto;
		}
		@media (max-width: $md2 + px){
			min-width: 357px;
			width: 357px;
			min-height: 311px;
			height: 311px;
		}
		@media (max-width: $md4 + px){
			min-width: 286px;
			width: 286px;
			min-height: 257px;
			height: 257px;
		}
		&::before{
			content: '';
			position: absolute;
			right: 155px;
			top: -37px;
			transform: rotate(-115deg);
			width: 308px;
			height: 365px;
			background-image: url(../img/hand_left.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			transform-origin: 90% 70%;
			animation: handRotateRight 3s ease-in-out infinite;
			@media (max-width: $md1 + px){
				width: 215px;
				height: 255px;
				right: 113px;
				top: -30px;
			}
			@media (max-width: $md2 + px){
				width: 154px;
				height: 182px;
				right: 93px;
			}
			@media (max-width: $md4 + px){
				width: 123px;
				height: 146px;
				right: 70px;
				top: -20px;
			}
		}
		&::after{
			content: '';
			position: absolute;
			bottom: 117px;
			left: 37px;
			transform: rotate(45deg);
			width: 308px;
			height: 365px;
			background-image: url(../img/hand_right.svg);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center center;
			transform-origin: 20% 80%;
			animation: handRotateLeft 3s ease-in-out infinite;
			@media (max-width: $md1 + px){
				width: 215px;
				height: 255px;
				left: 20px;
				bottom: 85px;
			}
			@media (max-width: $md2 + px){
				width: 154px;
				height: 182px;
				left: 5px;
				bottom: 70px;
			}
			@media (max-width: $md4 + px){
				width: 123px;
				height: 146px;
				bottom: 62px;
			}
		}
	}
	&__info{
		@include adaptive(padding-top, 160, 20, 1);
		opacity: 0;
		animation: fadeUp .5s ease-in-out forwards;
		@media (max-width: $md3 + px){
			margin-right: auto;
			margin-left: auto;
			text-align: center;
		}
	}
	&__title{
		@include adaptive(font-size, 64, 28, 1);
		line-height: 120%;
		font-weight: 700;
		@include adaptive(margin-bottom, 40, 35, 1);
		position: relative;
		&::before{
			content:'';
			position: absolute;
			@include adaptive(top, -45, -20, 1);
			@include adaptive(left, -85, -30, 1);
			background-image: url(../img/hatch.png);
			background-repeat: no-repeat;
			background-size: contain;
			@include adaptive(width, 320, 240, 1);
			@include adaptive(height, 155, 75, 1);
			z-index: -1;
		}
		@media (max-width: $md3 + px){
			margin-left: auto;
			margin-right: auto;
			display: inline-block;
		}
	}
	&__text{
		@include adaptive(margin-bottom, 40, 35, 1);
	}
	&__descr{
		line-height: 150%;
		max-width: 560px;
		width: 100%;
	}
	&__btn{
		@include adaptive(height, 50, 55, 1);
		font-weight: 500;
		max-width: 253px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 30px;
		background-color: #6CB2C3;
		color: #fff;
		@include adaptive(font-size, 14, 16, 1);
		transition: background-color .3s;
		@include adaptive(margin-bottom, 175, 100, 3);
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $text;
			}
			&:focus-visible{
				background-color: $text;
			}
		}
		@media (max-width: $md3 + px){
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__social{
		align-items: flex-end;
		@include adaptive(margin-right, 60, 20, 1);
		margin-bottom: 60px;
		@media (max-width: $md3 + px){
			display: none;
		}
	}
}
