.tomography {
	background-color: $el;
	animation: fadeUpBig 1s ease-in-out;
	@include adaptive(margin-bottom, 95, 0, 1);
	@media (max-width: $md3 + px){
		border-radius: 15px;
	}
	&__inner{
		@include adaptive(padding-top, 14, 43, 1);
	}
	&__body{
		display: flex;
		margin-bottom: 100px;
		@include adaptive(margin-bottom, 100, 40, 1);
		justify-content: space-between;
		align-items: flex-start;
		@media (max-width: $md2 + px){
			flex-direction: column;
		}
	}
	&__text{
		max-width: 560px;
		width: 100%;
		margin-right: 10px;
		@media (max-width: $md2 + px){
			max-width: 100%;
			margin-right: 0;
			margin-bottom: 43px;
		}
		*:last-child{
			margin-bottom: 0;
		}
	}
	&__title{
		@include adaptive(margin-bottom, 56, 39, 1);
		@include adaptive(font-size, 48, 22, 1);
		@media (max-width: $md3 + px){
			font-weight: 500;
			text-align: center;
		}
	}
	&__descr{
		line-height: 140%;
		@include adaptive(margin-bottom, 30, 20, 1);
		span{
			font-weight: 600;
		}
		a{
			transition: color .3s;
			@media (min-width: $md2 + px){
				&:hover{
					color: $hover;
				}
				&:focus-visible{
					color: $hover;
				}
			}
		}
	}
	&__buttons{
		display: flex;
		margin-left: -17px;
		@include adaptive(padding-top, 19, 15, 1);
		flex-wrap: wrap
	}
	&__btn{
		@include adaptive(height, 50, 55, 1);
		border-radius: 30px;
		padding: 10px 45px;
		margin-left: 17px;
		background-color: #fff;
		transition: all .3s;
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 14px;
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $hover;
				color: #fff;
			}
			&:focus-visible{
				background-color: $hover;
				color: #fff;
			}
		}
		@media (max-width: $md4 + px){
			width: 100%;
		}
		&:nth-child(even){
			background-color: $text;
			color: #fff;
		}
	}
	&__modal{
		@include adaptive(max-width, 793, 300, 1);
		width: 100%;
		@media (max-width: $md2 + px){
			max-width: 793px;
			margin: 0 auto;
		}
		&.open{
			@media (min-width: $md4 + px){
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				z-index: 100;
				max-width: 100%;
				height: 100%;
				background-color: rgba(6, 7, 50, 0.7);
				backdrop-filter: blur(10px);
				display: flex;
				justify-content: center;
				align-items: center;
				.tomography__wrapper{
					max-width: 1211px;
					width: 100%;
					position: relative;
					padding-left: 71px;
					padding-right: 71px;
				}
				.tomography__gallery{
					margin: 0;
				}
				.progress-bar{
					display: none;
				}
				.tomography-button-prev,
				.tomography-button-next{
					opacity: 1;
					background-color: $el;
					rect{
						fill: $text;
					}
				}
				.tomography-button-prev{
					left: 10px;
				}
				.tomography-button-next{
					right: 10px;
				}
				.tomography__close{
					display: block;
				}
				.swiper-pagination{
					display: none;
				}
			}
			
		}
	}
	&__wrapper{
		position: relative;
		@media (min-width: $md2 + px){
			&:hover{
				.tomography-button-prev,
				.tomography-button-next{
					opacity: 1;
				}
			}
			&:focus-visible{
				.tomography-button-prev,
				.tomography-button-next{
					opacity: 1;
				}
			}
		}
	}
	&__close{
		display: none;
		position: absolute;
		top: 0;
		right: 10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $hover;
		z-index: 1;
		transition: background-color .3s;
		@media (min-width: $md2 + px){
			&:hover{
				background-color: #fff;
				&::before,
				&::after{
					background-color: $text;
				}
			}
			&:focus-visible{
				background-color: #fff;
				&::before,
				&::after{
					background-color: $text;
				}
			}
		}
		&::before,
		&::after{
			content: '';
			position: absolute;
			height: 1px;
			width: 15px;
			right: 0;
			left: 0;
			top: 50%;
			margin: 0 auto;
			background-color: #fff;
			transition: background-color .3s;
		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}
	&__gallery{
		border-radius: 10px;
		overflow: hidden;
		margin-top: 30px;
		margin-bottom: 30px;
		position: relative;
		@media (max-width: $md2 + px){
			margin-top: 0;
		}
		@media (max-width: $md3 + px){
			margin-bottom: 53px;
		}
	}
	&__row{
		position: relative;
	}
	.swiper-pagination{
		position: absolute;
		left: 22px;
		top: 17px;
		font-size: 32px;
		font-weight: 700;
		font-family: "Rubik", sans-serif;
		z-index: 10;
		width: auto;
		height: 30px;
		@media (max-width: $md3 + px){
			display: none;
		}
	}
	&__image{
		border-radius: 10px;
		overflow: hidden;
		position: relative;
		height: auto;
		width: 100%;
		padding-bottom: 59.159%;
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.tomography-button-prev,
	.tomography-button-next{
		opacity: 0;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $text;
		color: #fff;
		font-weight: 600;
		transition: all .3s;
		z-index: 5;
		display: flex;
		justify-content: center;
		align-items: center;
		rect{
			transition: fill .3s;
		}
		@media (min-width: $md2 + px){
			&:hover{
				opacity: 1;
				background-color: $hover;
				rect{
					fill: $text;
				}
			}
			&:focus-visible{
				opacity: 1;
				background-color: $hover;
				rect{
					fill: $text;
				}
			}
		}
		&::after{
			font-size: 14px;
		}
	}
	.tomography-button-prev{
		left: 20px;
		svg{
			transform: rotate(90deg);
			width: 14px;
			height: 14px;
		}
	}
	.tomography-button-next{
		right: 20px;
		svg{
			transform: rotate(-90deg);
			width: 14px;
			height: 14px;
		}
	}
	&__plug{
		&.plug-bottom{
			background-color: #fff;
			&::before{
				content: url(../img/section_wave.svg);
			}
		}
		&.plug-top{
			background-color: $el;
			&::before{
				content: url(../img/section_wave-white.svg);
			}
		}
	}
}