.top-services{
	.top{
		&__body{
			overflow: hidden;
			@media (max-width: $md2 + px){
				flex-direction: column;
			}
		}
		&__info{
			order: -1;
			@media (max-width: $md2 + px){
				order: 0;
				margin-right: auto;
				margin-left: auto;
				text-align: center;
			}
		}
		&__image{
			background-image: url(../img/top-page_img.svg);
			min-width: 564.78px;
			min-height: 548px;
			@media (max-width: $md2 + px){
				min-height: 540px;
			}
			@media (max-width: $md3 + px){
				min-width: 280px;
				max-width: 280px;
				min-height: 260px;
				height: 260px;
			}
			&::after,
			&::before{
				display: none;
			}
			.piece_1{
				svg{
					width: 100%;
				}
				position: absolute;
				top: 75px;
				left: 176px;
				animation: animOne 2s ease-in-out 1s forwards;
				z-index: 2;
				@media (max-width: $md3 + px){
					top: -13px;
    				left: 87px;
    				width: 66px;
					animation: animOneAdaptive 2s ease-in-out 1s forwards;
				}
			}
			.piece_2{
				svg{
					width: 100%;
				}
				position: absolute;
				top: 59px;
				left: 200.2px;
				z-index: 3;
				animation: animTwo 2s ease-in-out 1s forwards;
				@media (max-width: $md3 + px){
					top: 1px;
    				left: 97.2px;
    				width: 62px;
					animation: animTwoAdaptive 2s ease-in-out 1s forwards;
				}
			}
			.piece_3{
				svg{
					width: 100%;
				}
				position: absolute;
				left: 184.268px;
    			top: 70.8px;
				 z-index: 2;
				 animation: animThree 2s ease-in-out 1s forwards;
				@media (max-width: $md3 + px){
					left: 92px;
					top: 15px;
					width: 8px;
					animation: animThreeAdaptive 2s ease-in-out 1s forwards;
				}
			}
			.piece_4{
				svg{
					width: 100%;
				}
				position: absolute;
				left: 279.26px;
				top: 170px;
				animation: animFour 2s ease-in-out 1s forwards;
				@media (max-width: $md3 + px){
					left: 137.26px;
    				top: 72px;
    				width: 22px;
					 animation: animFourAdaptive 2s ease-in-out 1s forwards;
				}
			}
			.piece_5{
				svg{
					width: 100%;
				}
				position: absolute;
				top: 155px;
				left: 251px;
				opacity: 0;
				animation: animFive 2s ease-in-out 1s forwards;
				transform: rotateY(-88deg) translate(-50%, 0);
    			transform-origin: 100% 100%;
				@media (max-width: $md3 + px){
					top: 58px;
    				left: 124px;
    				width: 35px;
					animation: animFiveAdaptive 2s ease-in-out 1s forwards;
				}
			}
			.piece_shadow{
				svg{
					width: 100%;
				}
				position: absolute;
				top: 72px;
				left: 220px;
				z-index: 1;
				animation: animShadow 2s ease-in-out 1s forwards;
				@media (max-width: $md3 + px){
					top: 16px;
					left: 109px;
					width: 38px;
					animation: animShadowAdaptive 2s ease-in-out 1s forwards;
				}
			}
		}
		&__title{
			display: inline-block;
			&::before{
				background-image: url(../img/hatch-services.png);
				left: auto;
				@include adaptive(top, -100, -47, 1);
				right: -55px;
				width: 368px;
				height: 265px;
				@include adaptive(width, 368, 183, 1);
				@include adaptive(height, 265, 132, 1);
				@media (max-width: $md3 + px){
					
				@include adaptive(right, 0, -40, 1);
				}
			}
		}
		&__descr{
			@media (max-width: $md4 + px){
				display: inline;
			}
		}
		&__btn{
			@media (max-width: $md2 + px){
				margin-left: auto;
				margin-right: auto;
			}
		}
		&__link{
			font-weight: 700;
			@media (max-width: $md4 + px){
				display: inline;
			}
		}
	}
}