.clients{
	
	&__gallery{
		width: calc((100vw - ((100vw - 1432px) / 2)) + 106px);
		margin-right: -106px;
	}
	&__item{
		display: block;
		@media (min-width: $md2 + px){
			&:hover{
				.clients__wrapper{
					&::before{
						animation: overflowBefore 4.8s step-end 0.01s forwards;
					}
					span{
						animation: overflowSpan 2.4s step-end 0.01s forwards;
						&::before{
							animation: leftSpin 4.8s linear 0.01s forwards;
						}
						&::after{
							animation: rightSpin 2.4s linear 0.01s forwards;
						}
					}
				}
			}
			&:focus-visible{
				.clients__wrapper{
					span{
						animation: overflowSpan 2.4s step-end 0.01s forwards;
						&::before{
							animation: leftSpin 4.8s linear 0.01s forwards;
						}
						&::after{
							animation: rightSpin 2.4s linear 0.01s forwards;
						}
					}
				}
			}
		}
	}
	&__wrapper{
		position: relative;
		padding: 20px;
		&::before{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 50%;
			border: 13px solid $hover;
			opacity: 0;
		}
		span{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border-radius: 50%;
			z-index: -1;
			clip: rect(0px, 270px, 540px, 0px);
			@media (max-width: $md1 + px){
				clip: rect(0px, 230px, 540px, 0px);
			}
			@media (max-width: 1300px){
				clip: rect(0px, 200px, 540px, 0px);
			}
			@media (max-width: 1200px){
				clip: rect(0px, 170px, 540px, 0px);
			}
			&::before,
			&::after{
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				border-radius: 50%;
				border: 13px solid $hover;
				clip: rect(0px, 548px, 548px, 270px);
				@media (max-width: $md1 + px){
					clip: rect(0px, 548px, 548px, 230px);
				}
				@media (max-width: 1300px){
					clip: rect(0px, 540px, 540px, 200px);
				}
				@media (max-width: 1200px){
					clip: rect(0px, 540px, 540px, 170px);
				}
			}
		}
	}
	&__image{
		position: relative;
		padding-bottom: 100%;
		border-radius: 50%;
		overflow: hidden;
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 101%;
		height: 100%;
		object-fit: cover;
		object-position: center center;

	}
	&__button{
		text-align: center;
		position: relative;
		z-index: 2;
	}
	&__btn{
		@include adaptive(height, 114, 70, 1);
		@include adaptive(width, 114, 70, 1);
		border-radius: 50%;
		border: 10px solid #fff;
		background-color: $text;
		@include adaptive(margin-top, -80, -50, 1);
		position: relative;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		&::before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12.5px 0 12.5px 18px;
			border-color: transparent transparent transparent #ffffff;
			border-radius: 6px;
		}
	}
	&__name{
		@include adaptive(font-size, 22, 16, 1);
		font-weight: 500;
		@media (max-width: $md4 + px){
			font-weight: 700;
			@include adaptive(margin-bottom, 51, 32, 1);
		}
	}
}
.popup-clients{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(6, 7, 50, 0.7);
	backdrop-filter: blur(10px);
	z-index: 101;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: all .5s;
	&__body{
		max-width: 1211px;
		width: 100%;
		height: 500px;
		position: relative;
		@include adaptive(padding-right, 71, 50, 1);
		@include adaptive(padding-left, 71, 50, 1);
		@media (max-width: $md3 + px){
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&__video{
		background-color: #fff;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		overflow: hidden;
		iframe{
			width: 100%;
			height: 100%;
		}
	}
	&__btn{
		position: absolute;
		top: 10px;
		right: 10px;
		@include adaptive(height, 50, 30, 1);
		@include adaptive(width, 50, 30, 1);
		border-radius: 50%;
		background-color: $el;
		transition: background-color .3s;
		@media (max-width: $md3 + px){
			right: 20px;
			background-color: $text;
		}
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $hover;
				&::before,
				&::after{
					background-color: #fff;
				}
			}
			&:focus-visible{
				background-color: $hover;
				&::before,
				&::after{
					background-color: #fff;
				}
			}
		}
		&::before,
		&::after{
			content: '';
			position: absolute;
			height: 1px;
			width: 15px;
			right: 0;
			left: 0;
			top: 50%;
			margin: 0 auto;
			background-color: $text;
			transition: background-color .3s;
			@media (max-width: $md3 + px){
				background-color: #fff;
			}
		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}
	&.open{
		opacity: 1;
		pointer-events: visible;
	}
}