.clients{
	
	&__gallery{
		width: calc((100vw - ((100vw - 1432px) / 2)) + 106px);
		margin-right: -106px;
	}
	&__item{
		display: block;
		@media (min-width: $md2 + px){
			&:hover{
				.clients__circle{
					animation: circle 3.8s step-end forwards;
				}
				.clients__circle-before{
					animation: circleBefore 1.9s linear forwards;
				}
				.clients__circle-after{
					animation: circleAfter 3.8s linear forwards;
				}
			}
			&:focus-visible{
				.clients__circle{
					animation: circle 3.8s step-end forwards;
				}
				.clients__circle-before{
					animation: circleBefore 1.9s linear forwards;
				}
				.clients__circle-after{
					animation: circleAfter 3.8s linear forwards;
				}
			}
		}
	}
	&__wrapper{
		position: relative;
		padding: 20px;
	}
	&__circle{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		clip-path: inset(0 52% 0 0);
	}
	&__circle-before,
	&__circle-after{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 50%;
		transform: rotate(-45deg);
		border: 13px solid $hover;
		border-left-color: transparent;
		border-top-color: transparent;
		transition: opacity .3s;
		&::after{
			content: '';
			position: absolute;
			height: 13px;
			width: 13px;
			background-color: $hover;
			z-index: 2;
			border-radius: 50%;
		}
		&::after{
			@include adaptive(bottom, 67.7, 28, 1);
			@include adaptive(left, 66.7, 28, 1);
			@media (max-width: $md1 + px){
				@include adaptive(bottom, 75.7, 0, 1);
				@include adaptive(left, 73.7, -3, 1);
			}
		}
	}
	&__image{
		position: relative;
		padding-bottom: 100%;
		border-radius: 50%;
		overflow: hidden;
	}
	&__img{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 101%;
		height: 100%;
		object-fit: cover;
		object-position: center center;

	}
	&__button{
		text-align: center;
		position: relative;
		z-index: 2;
	}
	&__btn{
		@include adaptive(height, 114, 70, 1);
		@include adaptive(width, 114, 70, 1);
		border-radius: 50%;
		border: 10px solid #fff;
		background-color: $text;
		@include adaptive(margin-top, -80, -50, 1);
		position: relative;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
		&::before{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 12.5px 0 12.5px 18px;
			border-color: transparent transparent transparent #ffffff;
			border-radius: 6px;
		}
	}
	&__name{
		@include adaptive(font-size, 22, 16, 1);
		font-weight: 500;
		@media (max-width: $md4 + px){
			font-weight: 700;
			@include adaptive(margin-bottom, 51, 32, 1);
		}
	}
}
.popup-clients{
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(6, 7, 50, 0.7);
	backdrop-filter: blur(10px);
	z-index: 101;
	justify-content: center;
	align-items: center;
	&__body{
		max-width: 1200px;
		width: 100%;
		position: relative;
		padding-right: 71px;
		padding-left: 71px;
		@media (max-width: $md3 + px){
			padding-left: 10px;
			padding-right: 10px;
		}
	}
	&__video{
		position: relative;
		padding-bottom: 56.3%;
		border-radius: 15px;
		overflow: hidden;
		video{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 15px;
			object-fit: cover;
		}
	}
	&__btn{
		position: absolute;
		top: 0;
		right: 10px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: $el;
		transition: background-color .3s;
		@media (max-width: $md3 + px){
			top: -60px;
			background-color: $text;
		}
		@media (min-width: $md2 + px){
			&:hover{
				background-color: $hover;
				&::before,
				&::after{
					background-color: #fff;
				}
			}
			&:focus-visible{
				background-color: $hover;
				&::before,
				&::after{
					background-color: #fff;
				}
			}
		}
		&::before,
		&::after{
			content: '';
			position: absolute;
			height: 1px;
			width: 15px;
			right: 0;
			left: 0;
			top: 50%;
			margin: 0 auto;
			background-color: $text;
			transition: background-color .3s;
			@media (max-width: $md3 + px){
				background-color: #fff;
			}
		}
		&::before{
			transform: rotate(45deg);
		}
		&::after{
			transform: rotate(-45deg);
		}
	}
	&.open{
		display: flex;
	}
}

.test{
	height: 200px;
	width: 200px;
	border-radius: 50%;
	border: 13px solid #000;
	border-left-color: rgba(0,0,0,0);
	border-top-color: rgba(0,0,0,0);
	
}